* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkgreen;
}

li {
    font-size: 18px;
}

p {
    font-size: 18px;
    background-color: aquamarine;
    color: bisque;
    padding: 10px;
    border: solid 3px blue;
    margin: 10px;
    width: 150px;
}

a {
    text-decoration: none;
}